<h1> Add a new Vendor.</h1>
<p>Fill out the form to add a new vendor to your list</p>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor's Name:</label>
  <input id="vendorName" name="vendorName" type="text"><br>
  <label for="vendorDescription">Description for Vendor:</label>
  <input id="vendorDescription" name="vendorDescription" type="text"><br>
  <button type="submit">Add Vendor.</button>
</form>

<p><a href="/vendors">Go Back.</a></p>
<p><a href="/">Back to Home.</a></p>