<h1>Add an order for @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderName">Order Name:</label>
  <input id="orderName" name="orderName" type="text"><br>
  <label for="orderDescription">Order Description.</label>
  <input id="orderDescription" name="orderDescription" type="text"><br>
  <label for="orderPrice">Price: </label>
  <input id="orderPrice" name="orderPrice" type="number"><br>
  <label for="orderDate">Date: </label>
  <input id="orderDate" name="orderDate" type="date"><br>
  <button type='submit'>Add Order</button>
</form>