<h1>Add an order for @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderName">Order Name:</label><br>
  <input id="orderName" name="orderName" type="text">
  <label for="orderDescription">Order Description.</label><br>
  <input id="orderDescription" name="orderDescription" type="text">
  <label for="orderPrice">Price: </label><br>
  <input id="orderPrice" name="orderPrice" type="number">
  <label for="orderDate">Date: </label><br>
  <input id="orderDate" name="orderDate" type="date">
  <button type='submit'>Add Order</button>
</form>